<!DOCTYPE html>

<div class="panel panel-default">
    <table>
        <tr>
            <td>
                <span class="glyphicon glyphicon-earphone"> </span>
                {{establishment.phone_number}}
            </td>
        </tr>

        <tr>
            <td>
                <span class="glyphicon glyphicon-road"> </span>
                {{establishment.address_street}}, {{establishment.address_number}}, {{establishment.address_town}} ({{establishment.address_zip}}).
            </td>
        </tr>

        {{#if establishment.website}}
        <tr>
            <td>
                <span class="glyphicon glyphicon-cloud"> </span>
                <a href={{website}}>{{establishment.website}}</a>
            </td>
        </tr>
        {{/if}}

    </table>
</div>
