<!DOCTYPE html>
<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">

        <h1><span class="glyphicon glyphicon-glass" aria-hidden="true"></span>{{establishment.name}}</h1>

        <div class="creator-section">
            by <a href="/user/{{establishment.creator}}">{{establishment.created_by}}</a> ({{establishment.creation-date}})
        </div>

        <hr>

        {{> image}}

        {{> map}}

        {{> establishment_info}}

        <hr>

        <!-- Blog Comments -->

        <!-- Comments Form -->

        <!-- Posted Comments -->

        {{> comments}}

    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Blog Categories Well -->
        <div class="well">
            <h4>{{establishment.name}} labels</h4>

            <hr>

            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled">
                        {{#each labels}}
                            <li><a href="/label/{{name}}">{{name}}</a>
                            {{#if ../user.admin}}
                            <a href="/label/remove/{{id}}">(remove)</a>
                            {{/if}}
                            </li>
                        {{/each }}
                    </ul>
                </div>

                {{#if user}}
                <form action="/label/?id={{establishment.id}}" method="post">
                    <div class="input-group">
                        <textarea class="form-control" name="title" rows="1" placeholder="Ajouter un label"></textarea>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Ajouter.</button>
                        </span>
                    </div>
                </form>
                {{/if}}

            </div>
            <!-- /.row -->
        </div>

        <!-- Side Widget Well -->
        <!-- <div class="well"> -->
        <!--     <h4>Side Widget Well</h4> -->
        <!--     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p> -->
        <!-- </div> -->

    </div>

</div>
<!-- /.row -->

<hr>

<!-- Footer -->
<!-- <footer> -->
<!--     <div class="row"> -->
<!--         <div class="col-lg-12"> -->
<!--             <p>Copyright &copy; Your Website 2014</p> -->
<!--         </div> -->
<!--     </div> -->
<!--     <1!-- /.row --1> -->
<!-- </footer> -->
