<!DOCTYPE html>
<div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-lg-8">

        <h1>
            {{{icon establishment.type}}}
            {{establishment.name}}

            {{#if user.admin}}
                <a href="/admin/remove/{{establishment.id}}">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
            {{/if}}
        </h1>

        <div class="creator-section">
            by <a href="/user/{{establishment.created_by}}">{{establishment.created_by}}</a> ({{establishment.creation_date}})
        </div>

        <hr>

        {{> image}}

        {{> map}}

        {{> establishment_info}}

        <div class="well">
        {{#if establishment.restaurant}}
            {{#if establishment.takeaway}}
                <span class="glyphicon glyphicon-shopping-cart"></span> Possibilité de prendre à emporter. <br>
            {{else}}
                <span class="glyphicon glyphicon-shopping-cart"></span> Impossible de prendre à emporter.<br>
            {{/if}}

            {{#if establishment.delivery}}
                <span class="glyphicon glyphicon-plane"></span> Livraison à domicile.<br>
            {{else}}
                <span class="glyphicon glyphicon-plane"></span> Aucune livraison à domicile.<br>
            {{/if}}
            <span class="glyphicon glyphicon-euro"></span> Prix moyen : {{establishment.price}}<br>
            <span class="glyphicon glyphicon-info-sign"></span> Nombre de places : {{establishment.price}}<br>
        {{/if}}

        {{#if establishment.bar}}
            {{#if establishment.smokers}}
                <span class="glyphicon glyphicon-leaf"></span> Fumeur authorisé.<br>
            {{else}}
                <span class="glyphicon glyphicon-leaf"></span> Non fumeur.<br>
            {{/if}}
            {{#if establishment.snacks}}
                <span class="glyphicon glyphicon-piggy-bank"></span> Snacks sur place.<br>
            {{else}}
            {{/if}}
        {{/if}}

        {{#if establishment.hotel}}
            <span class="glyphicon glyphicon-bed"></span> Nombre de chambre : {{establishment.room_number}} <br>
            <span class="glyphicon glyphicon-euro"></span> Prix moyen : {{establishment.price}}<br>
            Nombre d'étoile : {{establishment.stars}} <br>
        {{/if}}
        </div>

        <hr>

        <!-- Blog Comments -->

        <!-- Comments Form -->

        <!-- Posted Comments -->

        {{> comments}}

    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

        {{> labels}}

    </div>

</div>
<!-- /.row -->

<hr>

<!-- Footer -->
<!-- <footer> -->
<!--     <div class="row"> -->
<!--         <div class="col-lg-12"> -->
<!--             <p>Copyright &copy; Your Website 2014</p> -->
<!--         </div> -->
<!--     </div> -->
<!--     <1!-- /.row --1> -->
<!-- </footer> -->
