<!DOCTYPE html>
{{#if establishments}}
<h3> Establishments </h3>
<hr>

{{{thumbnailing establishments}}}

<hr>


{{/if}}


{{#if restaurants}}
<h1>Restaurants.</h1>

<hr>

{{{thumbnailing restaurants}}}

<hr>
{{/if}}

{{#if bars}}
<h1>Bars.</h1>

<hr>

{{{thumbnailing bars}}}

<hr>
{{/if}}

{{#if hotels}}
<h1>Hotels.</h1>

<hr>


<hr>
{{/if}}

{{#if labels}}
<h3>Labels</h3>
<hr>
{{#each labels}}
<li><a href="/label/{{name}}">{{name}}</a></li>
{{/each}}
{{/if}}

{{#if users}}
<h3>Utilisateurs</h3>
<hr>
{{#each users}}
<li><a href="/user/{{username}}">{{username}}</a></li>
{{/each}}
{{/if}}

</div>
