<!DOCTYPE html>

<h3>
{{#if profile.admin}}
    Admin :
{{/if}}
    {{profile.name}}
{{#if user.admin}}
    <a href=\"/user/remove/" + userName + "\">Delete</a>
{{/if}}
</h3>

<hr>

<div class="well">
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>{{profile.email}}<br>
    {{#if user.admin}}
        <a data-toggle="modal" data-target="#updateEmail">Update</a>

        <div class="modal fade" id="updateEmail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document" aria-labelledby="updateEmail">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Mettre à jour l'adresse mail.</h4>
                    </div>
                    <form action="/user/update/{{establishment.id}}/email" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-inline">
                                    <input type="email" class="form-control" id="userEmailInput" name="email" placeholder="Adresse mail.">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success pull-right" value="Mettre à jour"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {{/if}}

    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>Crée le {{profile.creation_date}} <br>
</div>

<hr>

<div class="row">
    <div class="col-md-6">
    <h2>Commentaires</h2>
    <hr>
    {{#each comments}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><a href="/establishments/{{establishment_id}}#comment-{{id}}">Commentaire</a> du {{timestamp}}<h3>
        </div>
        <div class="panel-body">
            <div class="row">
                {{#if picture_attached}}
                <div class="col-md-3">
                    <img class="media-object img-responsive" data-action="zoom" src="/user/{{username}}/comment/{{timestamp}}/picture" alt="">
                </div>
                <div class="col-md-9">
                {{else}}
                <div class="col-md-12">
                {{/if}}
                    {{comment_text}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    </div>

    <div class="col-md-6">
    <h2>Labels</h2>
    <hr>
    {{#each labels}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><a href="/establishments/{{establishment_id}}">Label sur l'établissement : {{establishment_name}}</a><h3>
        </div>
        <div class="panel-body">
            {{name}}
        </div>
    </div>
    {{/each}}
    </div>
</div>

<hr>

{{#if like}}
<h2>Utilisateurs similaire à {{profile.name}}</h2>
<hr>
{{#each like}}
<li><a href="/user/{{username}}">{{username}}</a></li>
{{/each}}
{{/if}}

